@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&display=swap');

:root {
    --preto: #02010aff;
--preto-azul: #04052eff;
--azul-forte: #140152ff;
--azul-claro: #22007cff;
--titulo:"Libre Baskerville", serif;
--texto: "Oswald", sans-serif;
}
body{
  background-color: var(--azul-claro);
 font-family: var(--texto);
}